<div>
    <h2>Add Note</h2>
    <form [formGroup]="noteForm" (ngSubmit)="addNote()">
      <div>
        <label>Title:</label>
        <input type="text" formControlName="title">
      </div>
      <br>
      <div>
        <label>Body:</label>
        <textarea formControlName="body"></textarea>
      </div>
      <br>
      <div>
        <label>Favorite:</label>
        <input type="checkbox" formControlName="favorite">
      </div>
      <br>
      <button type="submit" [disabled]="noteForm.invalid">Add Note</button>
    </form>
  </div>